.App {
  text-align: center;
}

.App-logo-run {
  height: 40vmin;
  pointer-events: unset;
}
.App-logo-stop {
  height: 40vmin;
  pointer-events: unset;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-stop {
    animation: App-logo-wait infinite 1s alternate;
  }

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-run {
    animation: App-logo-spin infinite 10s linear;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-link:hover {
  color: #fb61a9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-wait {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
